<form 
  id="aggregation" 
  action="/silk/readlinkagerule/${c.linkage_rule_dict['orig_dataset_id']}/${c.linkage_rule_dict['id']}" 
  method="post"
  class="form-horizontal"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  
    <h2>Aggregation for ${c.pkg_dict['title']}</h2>
  
    <div class="control-group">
        <label class="control-label">Aggregation function</label>
        <div class="controls">
            <select id="aggregation" name="aggregation">
                <option name="average">Average</option>
                <option name="max">Max</option>
                <option name="min">Min</option>
                <option name="quadraticMean">Quadratic mean</option>
                <option name="geometricMean">Geometric mean</option>
            </select>
        </div>
    </div>
    
    <div class="control-group" id="hidden-fields">
        <input type="hidden" name="dataset_id" value="${c.pkg['name']}"/>
        <input type="hidden" name="aggregation-save" value="true"/>
    </div>
    
    <div class="form-actions">
        <input id="save" name="save" type="submit" class="btn btn-primary" value="Save" />
    </div>
    
</form>
