<form 
  id="linkage-rule-edit" 
  action="/silk/${c.pkg['name']}" 
  method="post"
  class="form-horizontal"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  
  <script language ="JavaScript">
        function get_resources(element) {
                var xmlHttp = null;

                xmlHttp = new XMLHttpRequest();
                xmlHttp.open( "GET", '/silk/get_resources/' + element.value, false );
                xmlHttp.send( null );
                result = xmlHttp.responseText;
     
                opt = document.getElementById('dest_resource_id').innerHTML = result;
            }
            
    </script>
  
  <fieldset id="resources" class="tab-pane">
    <div class="row">
        <div class="span4">
            <ul class="resource-list resource-list-edit drag-drop-list ui-sortable">
                
                
                <ul class="resource-list resource-list-add">
                    <li class="${'' if c.linkage_rules else 'active'}"><a class="js-resource-add" href="#"><img width="16px" height="16px" class="inline-icon " alt="None" src="/images/icons/page_white_add.png"/> New Linkage Rule...</a></li>
                </ul>
            </ul>
        </div>
        <div class="span8">
            <div class="resource-panel" style="">
                <button class="btn btn-danger resource-panel-close">x</button>
                <div class="resource-details resource-add" style="display: block;">
                    
                    <div class="control-group">
                        <label class="control-label" property="rdfs:label" for="">Name</label>
                        <div class="controls" property="rdf:value">
                            <input class="js-resource-edit-name" type="text" value="${c.linkage_rule_dict['name']}" name="new_linkage_rule_name"/>
                        </div>
                    </div>
                    
                    <div class="control-group">
                        <label class="control-label" for="resource">Resource from ${c.pkg['title']}</label>
                        <div class="controls">
                            <select id="resource_id" name="resource_id">
                                <py:choose>
                                    <py:when test="c.linkage_rule_dict['id'] == ''">
                                        <option value="None" selected="selected"></option>
                                    </py:when>
                                </py:choose>
                                
                                <py:for each="resource_id, resource_title in c.valid_resources">
                                    <py:choose>
                                        <py:when test="c.linkage_rule_dict['orig_resource_id']  == resource_id">
                                            <option value="${resource_id}" selected="selected">${resource_title}</option>
                                        </py:when>
                                        <py:otherwise>
                                            <option value="${resource_id}">${resource_title}</option>
                                        </py:otherwise>
                                    </py:choose>
                                </py:for>
                            </select>
                        </div>
                    </div>
                    
                    <div class="control-group">
                        <label class="control-label" for="dest_dataset_id">Dataset to link to</label>
                        <div class="controls">
                            <select id="dest_package_id" name="dest_package_id" onchange="javascript:get_resources(this)">
                                <py:choose>
                                    <py:when test="c.linkage_rule_dict['id'] == ''">
                                        <option value="None" selected="selected"></option>
                                    </py:when>
                                </py:choose>
                                <py:for each="package_title, package_id in c.dest_packages">
                                    <py:choose>
                                        <py:when test="c.linkage_rule_dict['dest_dataset_id'] == package_id">
                                            <option value="${package_id}" selected="selected">${package_title}</option>
                                        </py:when>
                                        <py:otherwise>
                                            <option value="${package_id}">${package_title}</option>
                                        </py:otherwise>
                                    </py:choose>
                                </py:for>
                            </select>
                        </div>
                    </div>
                    
                    <div class="control-group">
                        <label class="control-label" for="dest_resource_id">Resource</label>
                        <div class="controls">
                            <select id="dest_resource_id" name="dest_resource_id">
                                <py:choose>
                                    <py:when test="c.linkage_rule_dict['id'] == ''">
                                        <option value="None" selected="selected"></option>
                                    </py:when>
                                    <py:otherwise>
                                        <py:for each="resource_id, resource_name in c.dest_resources">
                                            <py:choose>
                                                <py:when test="c.linkage_rule_dict['dest_resource_id'] == resource_id">
                                                    <option value="${resource_id}" selected="selected">${resource_name}</option>
                                                </py:when>
                                                <py:otherwise>
                                                    <option value="${resource_id}">${resource_name}</option>
                                                </py:otherwise>
                                            </py:choose>
                                        </py:for>
                                    </py:otherwise>
                                </py:choose>
                            </select>
                        </div>
                    </div>     
                    
                    <div class="control-group">
                        <label class="control-label" for="link_type">Link type</label>
                        <div class="controls">
                            <py:choose>
                                <py:when test="c.linkage_rule_dict['id'] == ''">
                                    <input type="text" name="link_type" value="http://www.w3.org/2002/07/owl#sameAs"></input>
                                </py:when>
                                <py:otherwise>
                                    <input type="text" name="link_type" value="${c.linkage_rule_dict['link_type']}"></input>
                                </py:otherwise>
                            </py:choose>
                        </div>
                    </div>
                    
                    <py:if test="c.error">
                        <b>${c.error_message}</b>
                    </py:if>
                </div>
            </div>
        </div>
    </div>
  </fieldset>
  
  <div id="hidden-fields">
    <py:choose>
        <py:when test="c.linkage_rule_dict['id'] == ''">
            <input type="hidden" name="linkage_rule_id" value="-1"></input>
        </py:when>
        <py:otherwise>
            <input type="hidden" name="linkage_rule_id" value="${c.linkage_rule_dict['id']}"></input>
        </py:otherwise>
    </py:choose>
  </div>
  
  <div class="form-actions">
    <input id="save" name="save" type="submit" class="btn btn-primary" value="Save" />
  </div>
  
</form>
