<form
  id="silk-new" 
  action="" 
  method="post"
  class="form-horizontal"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

    <script language ="JavaScript">
        function get_resources(element) {
                var xmlHttp = null;

                xmlHttp = new XMLHttpRequest();
                xmlHttp.open( "GET", '/silk/get_resources/' + element.value, false );
                xmlHttp.send( null );
                result = xmlHttp.responseText;
     
                opt = document.getElementById('dest_resource_id').innerHTML = result;
            }
            
    </script>
 
    <div>
        <h2>Select data sources from ${c.dataset_name}</h2>
    </div>
        
        
        <div class="control-group">
            <label class="control-label" for="resource">Resource</label>
            <div class="controls">
                <select id="resource_id" name="resource_id">
                    <option value="None" selected="selected"></option>
                    <py:for each="resource_id, resource_title in c.resources">
                        <option value="${resource_id}">${resource_title}</option>
                    </py:for>
                </select>
            </div>
        </div>
        
        <!--<div class="control-group source-restriction">
            <label class="control-label" for="restriction">Source restriction by property:</label>
            <div class="controls">
                <input id="restriction-property" name="restriction-property" type="text" value="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"/>
            </div>
            
        </div>-->
        
        
        <div>
            <h2>Select dataset to link</h2>
        </div>
        
        
        <div class="control-group">
            <label class="control-label" for="dataset_id">Dataset</label>
            <div class="controls">
                <select id="dest_package_id" name="dest_package_id" onchange="javascript:get_resources(this)">
                    <option value="None" selected="selected"></option>
                    <py:for each="package_title, package_id in c.packages">
                        <option value="${package_id}">${package_title}</option>
                    </py:for>
                </select>
            </div>
        </div>        
            
        <div class="control-group">
            <label class="control-label" for="dest_resource_id">Resource</label>
            <div class="controls">
                <select id="dest_resource_id" name="dest_resource_id">
                    <option value="None" selected="selected"></option>
                </select>
            </div>
        </div>
        
        <div class="form-actions">
            <input id="save" name="save" type="submit" class="btn btn-primary" value="${_('Next')} &raquo;" />
        </div>
        
</form>

