<form 
  id="path-inputs" 
  action="/silk/readlinkagerule/${c.linkage_rule_dict['orig_dataset_id']}/${c.linkage_rule_dict['id']}" 
  method="post"
  class="form-horizontal"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

    <div>
        <h2>Path input for ${c.variable_name}</h2>
    </div>
    
    <div class="control-group">
        
    </div>
    
    <div class="control-group">
    <label class="control-label" for="input_path">Property</label>
    <div class="controls">
        <py:for each="property in c.property_list">
            <py:choose>
                <py:when test="c.path_input_dict == ''">
                    <input type="radio" name="input_path" value="${property}">${property}</input><br />
                </py:when>
                <py:otherwise>
                    <py:choose>
                        <py:when test="c.path_input_dict['path_input'] == property">
                            <input type="radio" name="input_path" value="${property}" checked="True">${property}</input><br />
                        </py:when>
                        <py:otherwise>
                            <input type="radio" name="input_path" value="${property}">${property}</input><br />
                        </py:otherwise>
                    </py:choose>
                </py:otherwise>
            </py:choose>
        </py:for>
        <py:choose>
            <div>
            <input type="radio" name="input_path" value="custom_input_path">Custom property 
            <py:when test="c.path_input_dict == ''">
                <input type="text" name="custom_input_path_value" style="width:350px;"/>
            </py:when>
            <py:otherwise>
                <py:choose>
                    <py:when test="c.match==True">
                        <input type="text" name="custom_input_path_value" value="${c.path_input_dict['path_input']}" style="width:350px;" />
                    </py:when>
                    <py:otherwise>
                        <input type="text" name="custom_input_path_value" style="width:350px;"/>
                    </py:otherwise>
                </py:choose>
            </py:otherwise>
            </input>
            </div>
        </py:choose>
    </div>
  </div>
  <div class="control-group" id="hidden-fields">
        <input type="hidden" name="pathinput-save" value="true"/>
        <input type="hidden" name="restriction-id" value="${c.restriction_id}"/>
        <py:choose>
            <py:when test="c.edit==True">
                <input type="hidden" name="path-input-id" value="${c.path_input_dict['id']}"/>
            </py:when>
        </py:choose>
  </div>
  
  <div class="form-actions">
        <input id="save" name="save" type="submit" class="btn btn-primary" value="Save" />
  </div>

</form>
