<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:foaf="http://xmlns.com/foaf/0.1/"
      xmlns:owl="http://www.w3.org/2002/07/owl#"
      xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
      xmlns:dc="http://purl.org/dc/terms/"
      xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
      xmlns:dcat="http://www.w3.org/ns/dcat#"
      typeof="dcat:Dataset"
      about=""
      py:strip="">
  
  
   <py:def function="page_title">${c.pkg_dict.get('title', c.pkg_dict['name'])} - ${c.linkage_rule_dict['name']}
  - Silk Link Discovery Framework</py:def>
  
  <py:def function="page_heading" property="dc:title">
    ${c.pkg_dict.get('title', c.pkg_dict['name'])}
  - Silk Link Discovery Framework
  </py:def>
  
  <div py:match="content">
        <div class="resource-actions">
            <a class="btn btn-primary" href="/silk/editlinkagerules/${c.pkg_dict['name']}/${c.linkage_rule_dict['id']}">Edit Rule</a>
            <a class="btn btn-danger" href="/silk/removelinkagerule/${c.pkg_dict['name']}/${c.linkage_rule_dict['id']}">Remove Rule</a>
        </div>
        <div class="quick-info">
            <dl>
                <h4>Source</h4>
                <dt>Rule Name</dt>
                <dd>${c.linkage_rule_dict['name']}</dd>
                <dt>Source Resource</dt>
                <dd>${c.orig_resource['name']} (<a href="${c.orig_resource['url']}">${c.orig_resource['url']}</a>)</dd>
                
                <div class="quick-info">
                    <dl>
                        <h4>Destination</h4>
                        <dt>Dataset</dt>
                        <dd><a href="/dataset/${c.dest_pkg_dict['name']}">${c.dest_pkg_dict['name']}</a></dd>
                        <dt>Resource</dt>
                        <dd>${c.dest_resource['name']} (<a href="${c.dest_resource['url']}">${c.dest_resource['url']}</a>)</dd>
                    </dl>
                </div>
            </dl>
        </div>
        
        <h3>Class Restrictions</h3>
        <div class="notes">
            <div id="notes-extract">
                <h4>Restrictions for Source Dataset (${c.pkg_dict.get('title', c.pkg_dict['name'])})</h4> 
                <a class="btn btn-primary " href="/silk/editrestriction/${c.linkage_rule_dict['id']}/orig">Add Restriction</a>
                <py:choose>
                    <py:when test="len(c.orig_restrictions_list) == 0">
                        <p>No restrictions set for (${c.pkg_dict.get('title', c.pkg_dict['name'])}). </p>
                    </py:when>
                    <py:otherwise>
                        <div class="quick-info">
                            <py:for each="restriction in c.orig_restrictions_list">
                                <dl>
                                    <dt>Variable Name</dt>
                                    <dd>${restriction['variable_name']}</dd>
                                    <dt>Property</dt>
                                    <dd>${restriction['property']}</dd>
                                    <dt>Class</dt>
                                    <dd>${restriction['class_name']}</dd>
                                    <dt>Actions</dt>
                                    <dd><a href="/silk/${c.pkg['name']}/${c.linkage_rule_dict['id']}/deleterestriction/${restriction['id']}">Delete</a></dd>
                                </dl>
                            </py:for>
                        </div>
                    </py:otherwise>
                </py:choose>
            </div>
        </div>
        <div class="notes">
            <div id="notes-extract">
                <h4>Restrictions for Destination Dataset (${c.dest_pkg_dict.get('title', c.dest_pkg_dict['name'])})</h4> 
                <a class="btn btn-primary " href="/silk/editrestriction/${c.linkage_rule_dict['id']}/dest">Add Restriction</a>
                <py:choose>
                    <py:when test="len(c.dest_restrictions_list) == 0">
                        <p>No restrictions set for (${c.dest_pkg_dict.get('title', c.dest_pkg_dict['name'])}). </p>
                    </py:when>
                    <py:otherwise>
                        <div class="quick-info">
                            <py:for each="restriction in c.dest_restrictions_list">
                                <dl>
                                    <dt>Variable Name</dt>
                                    <dd>${restriction['variable_name']}</dd>
                                    <dt>Property</dt>
                                    <dd>${restriction['property']}</dd>
                                    <dt>Class</dt>
                                    <dd>${restriction['class_name']}</dd>
                                    <dt>Actions</dt>
                                    <dd><a href="/silk/${c.pkg['name']}/${c.linkage_rule_dict['id']}/deleterestriction/${restriction['id']}">Delete</a></dd>
                                </dl>
                            </py:for>
                        </div>
                    </py:otherwise>
                </py:choose>
            </div>
        </div>
        
        <py:choose>
            <py:when test="c.restrictions_control">
                <h3>Path Inputs</h3>
                <div class="notes">
                    <div id="notes-extract">
                        <h4>Path Inputs for ${c.orig_variable_name}</h4>
                        <a class="btn btn-primary " href="/silk/newpathinput/${c.linkage_rule_dict['id']}/orig">Add Path</a>
                        <py:choose>
                            <py:when test="len(c.orig_path_inputs_list) == 0">
                                <p>No Path Input set for ${c.orig_variable_name}. </p>
                            </py:when>
                            <py:otherwise>
                                <div class="quick-info">
                                    <py:for each="path_input in c.orig_path_inputs_list">
                                        <dl>
                                            <dt>Id</dt>
                                            <dd>#${path_input['id']}</dd>
                                            <dt>Path input</dt>
                                            <dd>${path_input['path_input']}</dd>
                                            <dt>Actions</dt>
                                            <dd><a href="/silk/editpathinput/${c.linkage_rule_dict['id']}/orig/${path_input['id']}">Edit</a> | <a href="/silk/${c.pkg['name']}/${c.linkage_rule_dict['id']}/deletepathinput/${path_input['id']}">Delete</a></dd>
                                        </dl>
                                    </py:for>
                                </div>
                            </py:otherwise>
                        </py:choose>
                    </div>
                </div>
                
                <div class="notes">
                    <div id="notes-extract">
                        <h4>Path Inputs for ${c.dest_variable_name}</h4>
                        <a class="btn btn-primary " href="/silk/newpathinput/${c.linkage_rule_dict['id']}/dest">Add Path</a>
                        <py:choose>
                            <py:when test="len(c.dest_path_inputs_list) == 0">
                                <p>No Path Input set for ${c.dest_variable_name}. </p>
                            </py:when>
                            <py:otherwise>
                                <div class="quick-info">
                                    <py:for each="path_input in c.dest_path_inputs_list">
                                        <dl>
                                            <dt>Id</dt>
                                            <dd>#${path_input['id']}</dd>
                                            <dt>Path input</dt>
                                            <dd>${path_input['path_input']}</dd>
                                            <dt>Actions</dt>
                                            <dd><a href="/silk/editpathinput/${c.linkage_rule_dict['id']}/dest/${path_input['id']}">Edit</a> | <a href="/silk/${c.pkg['name']}/${c.linkage_rule_dict['id']}/deletepathinput/${path_input['id']}">Delete</a></dd>
                                        </dl>
                                    </py:for>
                                </div>
                            </py:otherwise>
                        </py:choose>
                    </div>
                </div>
            </py:when>
        </py:choose>
        
        <py:choose>
            <py:when test="c.path_inputs_control">
                <h3>Transformations</h3>
                <div class="notes">
                    <div class="notes-extract">
                        <h4>Transformations for rule ${c.linkage_rule_dict['name']}</h4>
                        <a class="btn btn-primary " href="/silk/edittransformation/${c.linkage_rule_dict['id']}">Add Transformation</a>
                        <py:choose>
                            <py:when test="len(c.transformation_list) == 0">
                                <p>No transformations set</p>
                            </py:when>
                            <py:otherwise>
                                <div class="quick-info">
                                    <py:for each="transformation in c.transformation_list">
                                        <dl>
                                            <dt>Id</dt>
                                            <dd>#${transformation['id']}</dd>
                                            <dt>Transformation</dt>
                                            <dd>${transformation['name']}</dd>
                                            <py:for each="path_input in transformation['path_inputs']">
                                                <dt>Path Input</dt>
                                                <dd>${path_input['variable_name']}/&lt;${path_input['path_input']}&gt;</dd>
                                            </py:for>
                                            <py:for each="parameter in transformation['parameters']">
                                                <dt>${parameter.name}</dt>
                                                <dd>${parameter.value}</dd>
                                            </py:for>
                                            <dt>Actions</dt>
                                            <dd><a href="">Edit</a> | <a href="">Delete</a></dd>
                                        </dl>
                                    </py:for>
                                </div>
                            </py:otherwise>
                        </py:choose>
                    </div>
                </div>
            </py:when>
        </py:choose>
        
        <py:choose>
            <py:when test="c.path_inputs_control">
                <h3>Comparisons</h3>
                <div class="notes">
                    <div class="notes-extract">
                        <py:choose>
                            <h4>Comparisons for rule ${c.linkage_rule_dict['name']}</h4>
                            <a class="btn btn-primary " href="/silk/editcomparison/${c.linkage_rule_dict['id']}">Add Comparison</a>
                            <py:when test="len(c.comparison_list) == 0">
                                <p>No comparisons set</p>
                            </py:when>
                            <py:otherwise>
                                <div class="quick-info">
                                    <py:for each="comparison in c.comparison_list">
                                        <dl>
                                            <dt>Id</dt>
                                            <dd>#${comparison['id']}</dd>
                                            <dt>Distance</dt>
                                            <dd>${comparison['distance_measure']}</dd>
                                            <dt>Threshold</dt>
                                            <dd>${comparison['threshold']}</dd>
                                            <py:for each="param in comparison['params']">
                                                <dt>${param['name']}</dt>
                                                <dd>${param['value']}</dd>
                                            </py:for>
                                            <dt>Weight</dt>
                                            <dd>${comparison['weight']}</dd>
                                            <dt>Required</dt>
                                            <dd>${comparison['required']}</dd>
                                            <dt>Actions</dt>
                                            <dd>Edit | <a href="/silk/${c.pkg['name']}/${c.linkage_rule_dict['id']}/deletecomparison/${comparison['id']}">Delete</a></dd>
                                        </dl>
                                    </py:for>
                                </div>
                            </py:otherwise>
                        </py:choose>
                    </div>
                </div>
            </py:when>
        </py:choose>
        
        <py:choose>
            <py:when test="len(c.comparison_list) &gt; 1">
                <h3>Aggregations <a class="btn btn-primary " href="/silk/editaggregation/${c.linkage_rule_dict['id']}">+</a></h3>
                <div class="notes">
                    <div class="notes-extract">
                        <py:choose>
                            <py:when test="len(c.aggregation_list) == 0">
                                No aggregation set
                            </py:when>
                            <py:otherwise>
                                <div class="quick-info">
                                    <py:for each="aggregation in c.aggregation_list">
                                        <dl>
                                            <dt>Aggregation</dt>
                                            <dd>${aggregation}</dd>
                                        </dl>
                                    </py:for>
                                </div>
                            </py:otherwise>
                        </py:choose>
                    </div>
                </div>
            </py:when>
        </py:choose>
        
        <py:choose>
            <py:when test="c.launch_control">
                <div class="form-actions">
                    <a href="/silk/launch/${c.linkage_rule_dict['id']}">Launch!</a>
                    <py:choose>
                        <py:when test="c.file_ready">
                            - <a href="/silk/getresults/${c.linkage_rule_dict['id']}">Get results!</a>
                        </py:when>
                    </py:choose>
                </div>
            </py:when>
        </py:choose>
  </div>
  
    <xi:include href="layout.html"/>
</html>
