<form 
  id="resource-restrictions" 
  action="/silk/readlinkagerule/${c.linkage_rule_dict['orig_dataset_id']}/${c.linkage_rule_dict['id']}" 
  method="post"
  class="form-horizontal"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  
      <script language ="JavaScript">
            function get_classes(resource_url) {
                    var loading_html = '<div align="center" id="loading"><img src="/images/icons/progress.gif" alt="Loading" /></div>'
                    var xmlHttp = null;
                    value = document.getElementById('restriction').value;
                    xmlHttp = new XMLHttpRequest();
                    xmlHttp.open("GET", '/silk/get_classes/' + encodeURIComponent(encodeURIComponent(value)) + '/' + encodeURIComponent(encodeURIComponent(resource_url)), false);
                    document.getElementById('class_div').innerHTML = loading_html;
                    xmlHttp.send("");
                    
                    result = xmlHttp.responseText;
         
                    opt = document.getElementById('class_div').innerHTML = result;
                }
        </script>
  
    <div>
        <h2>Restrictions for ${c.pkg_dict['title']}</h2>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="variable_name">Variable Name</label>
        <div class="controls">
            <input id="variable_name" name="variable_name" type="text" value="?" style="width:80px;" maxlength="10"/>
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="resource">Restriction by property</label>
        <div class="controls">
            <input id="restriction" name="restriction" type="text" value="http://www.w3.org/1999/02/22-rdf-syntax-ns#type" style="width:400px;" />
            <button type="button" class="btn btn-primary" onclick="javascript:get_classes('${c.resource_dict['url']}')">Get Classes</button>
        </div>
    </div>
    
    <div class="control-group" id="class_div">
        <label class="control-label" for="classes">Class</label>
        <div class="controls">
            <input id="class_select" name="class_select" type="text" value="" style="width:500px;" />
        </div>
    </div>
    
    <div class="control-group" id="hidden-fields">
        <input type="hidden" name="dataset_id" value="${c.pkg['name']}"/>
        <input type="hidden" name="resource_id" value="${c.resource_dict['id']}"/>
        <input type="hidden" name="restriction-save" value="true"/>
    </div>
    
    <div class="form-actions">
        <input id="save" name="save" type="submit" class="btn btn-primary" value="Save" />
    </div>
  
</form>
